#panelPrototype {
  display: none;
}

.fc-event-container {
  cursor: pointer;
}

.fc-day-number.fc-other-month {
  background-color: transparent;
  color: transparent;
}

.eventTarget {
  width: 1;
  height: 1;
  position: relative;
  top: -8em;
}

@media screen and (min-width: 680px) {
  #calendar-container {
    position: relative;
  }
  #calendar {
    position: fixed;
  }
  footer {
    position: absolute;
    left: 0;
    right: 0;
  }
}