body {
  position: relative;
}

#aside-navigation {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed !important;
}

#main-content {
  padding-left: 1.5em;
  position: relative;
  top: -8em;
}

#requirements {
  padding-top: 6em;
}

#projects,
#assign {
  padding-top: 4em;
}

#accordion {
  padding-top: 1em;
  font-size: 1.1em;
}

#accordion .ui-state-active {
  background-color: #0E7692;
  border: 1px #333 solid;
}

#accordion ul {
  padding-left: 3em;
  list-style-type: decimal;
}

#accordion ul ul {
  padding-left: 3em;
  list-style-type: circle;
}

#accordion ul li {
  padding: 5px;
}

footer {
  z-index: 999;
}

.row {
  padding: 10px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #cfcfcf;
}

.reset {
  text-align: right;
}

.required {
  color: red;
}

form .btn {
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
}