body {
  margin: 0;
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0E7692;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 2px black solid;
  -webkit-transition: padding 0.6s;
  -moz-transition: padding 0.6s;
  -ms-transition: padding 0.6s;
  -o-transition: padding 0.6s;
  transition: padding 0.6s;
}

header .container {
  padding: 0;
}

header a,
header a:focus,
header a:hover,
header a:visited {
  color: white;
}

header h1 {
  padding: 0;  
  display: inline-block;
  float: left;
  font-size: 1.8em;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -ms-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

header nav {
  margin-top: 22px;
  float: right;
  display: inline-block;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -ms-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

header.collapse,
header.collapse .container {
  padding: 0;
  -webkit-transition: padding 0.6s;
  -moz-transition: padding 0.6s;
  -ms-transition: padding 0.6s;
  -o-transition: padding 0.6s;
  transition: padding 0.6s;
}

header.collapse nav,
header.collapse h1 {
  margin: 10px 0;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -ms-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

header.collapse #nav-dropdown {
  top: 50px;
}

a {
  color: cornflowerblue;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}

#terms-of-the-course a,
#terms-of-the-course a:visited {
/*  color: #A0AABF;*/
}

#terms-of-the-course a:hover {
/*  color: #A0AABF;*/
  font-weight: bold;
}

iframe {
  padding: 5px;
  padding-left: 15px;
  min-width: 450px;
  min-height: 300px;
  overflow: scroll;
}

footer {
  background-color: #0E7692;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-top: 2px black solid;
}

footer a {
  color: lightblue;
}

footer nav a {
  color: white;
  padding: 5px;
}

footer p {
  padding: 0;
  margin: 5px;
}

.group footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}

sup {
  font-size: 0.4em;
  padding-bottom: 0.5em;
}

small, .small {
  font-size: 0.8em;
}

smaller, .smaller {
  font-size: 0.6em;
}

#nav-dropdown {
/*  position: fixed;*/
  position: absolute;
  list-style-type: none;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  padding: 10px 5px 15px 5px;
  right: 112px;
  top: 75px;
  margin: 0;
  display: none;
}

#nav-dropdown li {
  color: black;
  padding: 10px 50px 10px 30px;
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.1em;
}

#nav-dropdown li:hover {
  color: white;
  background-color: #0E7692;
}

ol li {
  padding: 5px 0;
}