body {
  margin: 0;
  margin-top: 8em;
  font-family: "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

aside {
  padding-top: 0;
  -webkit-transition: margin-top 0.6s;
  -moz-transition: margin-top 0.6s;
  -ms-transition: margin-top 0.6s;
  -o-transition: margin-top 0.6s;
  transition: margin-top 0.6s;
}

aside.expand {
  margin-top: -2.5em;
  -webkit-transition: margin-top 0.6s;
  -moz-transition: margin-top 0.6s;
  -ms-transition: margin-top 0.6s;
  -o-transition: margin-top 0.6s;
  transition: margin-top 0.6s;
}

#aside-navigation li.active > a {
  background-color: #0E7692;
  color: white;
}

#aside-navigation li > a {
  color: #0E7692;
}

.btn.btn-primary {
  background-color: #0E7692;
}

main {
  min-height: 500px;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-family: inherit;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0E7692;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 2px black solid;
  -webkit-transition: padding 0.6s;
  -moz-transition: padding 0.6s;
  -ms-transition: padding 0.6s;
  -o-transition: padding 0.6s;
  transition: padding 0.6s;
}

header .container {
  padding: 0;
}

header a,
header a:focus,
header a:hover,
header a:visited {
  color: white;
}

header h1 {
  padding: 0;
  display: inline-block;
  float: left;
  font-size: 1.8em;
  margin: 0.9em 0.6em;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -ms-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

header nav {
  margin-top: 1.4em;
  float: right;
  display: inline-block;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -ms-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

header nav .icon,
header nav .fa {
  line-height: 1.2em;
}

header.collapse,
header.collapse .container {
  padding: 0;
  -webkit-transition: padding 0.6s;
  -moz-transition: padding 0.6s;
  -ms-transition: padding 0.6s;
  -o-transition: padding 0.6s;
  transition: padding 0.6s;
  display: block;
}

header.collapse nav,
header.collapse h1 {
  margin: 0.6em;
  -webkit-transition: margin 0.6s;
  -moz-transition: margin 0.6s;
  -ms-transition: margin 0.6s;
  -o-transition: margin 0.6s;
  transition: margin 0.6s;
}

header.collapse #nav-dropdown {
  top: 50px;
}

a {
  color: cornflowerblue;
}

#terms-of-the-course a,
#terms-of-the-course a:visited {
  /*  color: #A0AABF;*/
}

#terms-of-the-course a:hover {
  /*  color: #A0AABF;*/
  font-weight: bold;
}

iframe, object {
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding: 5px;
}

object {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #0E7692;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-top: 2px black solid;
}

footer a {
  color: lightblue;
}

footer nav a {
  color: white;
  padding: 5px;
}

footer p {
  padding: 0;
  margin: 5px;
}

.hidden {
  display: none;
}

sup {
  font-size: 0.4em;
  padding-bottom: 0.5em;
}

small,
.small {
  font-size: 0.8em;
}

smaller,
.smaller {
  font-size: 0.6em;
}

#nav-dropdown {
  /*  position: fixed;*/
  position: absolute;
  list-style-type: none;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  padding: 10px 5px 15px 5px;
  right: 112px;
  top: 75px;
  margin: 0;
  display: none;
}

#nav-dropdown li {
  color: black;
  padding: 10px 50px 10px 30px;
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.1em;
}

#nav-dropdown li:hover {
  color: white;
  background-color: #0E7692;
}

ol li {
  padding: 5px 0;
}

.full-width {
  width: 100%;
}

.nested-nav {
  padding-left: 2em;
  font-size: 1em;
}

#homework-viewer {
  margin-bottom: 100px;
}

@media only screen and (max-width: 360px) {
  header h1 {
    font-size: 1.6em;
    margin: 0.6em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.6em;
  }
  
  iframe, object {
    min-height: 220px;
  }
  
  #homework-viewer {
    margin-bottom: 50px;
  }
}