body {
  margin: 0;
  margin-top: 125px;
}

header {
  background-color: #0E7692;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

header a,
header a:focus,
header a:hover,
header a:visited {
  color: white;
}

header h1 {
  padding: 0;
  float: left;
  font-size: 1.8em;
}

header nav {
  top: 40px;
  float: right;
  position: fixed;
  right: 30px;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}

#terms-of-the-course a,
#terms-of-the-course a:visited {
  color: #A0AABF;
/*        color: #0E7692;*/
}

#terms-of-the-course a:hover {
  color: #A0AABF;
/*        color: #0E7692;*/
  font-weight: bold;
}

iframe {
  padding: 5px;
  padding-left: 15px;
  min-width: 450px;
  min-height: 300px;
  overflow: scroll;
  margin-bottom: 150px;
}

footer {
  background-color: #0E7692;
  color: white;
  text-align: center;
  padding: 15px 0;
}

footer a {
  color: lightblue;
}

footer nav a {
  color: white;
  padding: 5px;
}

footer p {
  padding: 0;
  margin: 5px;
}

sup {
  font-size: 0.4em;
  padding-bottom: 0.5em;
}

small, .small {
  font-size: 0.8em;
}

smaller, .smaller {
  font-size: 0.6em;
}

#nav-dropdown {
  position: fixed;
  list-style-type: none;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  padding: 10px 5px 15px 5px;
  right: 10px;
  top: 60px;
  display: none;
}

#nav-dropdown li {
  color: black;
  padding: 10px 50px 10px 30px;
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.1em;
}

/*
#nav-dropdown li a {
  text-decoration: none;
  color: inherit;
}
*/

#nav-dropdown li:hover {
  color: white;
  background-color: black;
}
