main {
  background-color: azure;
}

#responsiveCircle {
  background-color: deeppink;
}

#responsiveText:before {
  content: "extra-large";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "> 1000px";
  text-transform: lowercase;
}