[submodule "group2/zdravko"]
	path = group2/zdravko
	url = git@github.com:DJ-ZdravoMIX/swift-academy-homeworks.git
[submodule "group1/latchezar"]
	path = group1/latchezar
	url = git@github.com:Latchezar/swift-academy-homeworks.git
[submodule "group2/maria"]
	path = group2/maria
	url = https://github.com/meivanova1990/swift-academy-homeworks.git
[submodule "group2/marina"]
	path = group2/marina
	url = https://github.com/msmarina/swift-academy-homeworks.git
[submodule "group2/ivan"]
	path = group2/ivan
	url = https://github.com/gaFace/swift-academy-homeworks.git
[submodule "group1/kristina"]
	path = group1/kristina
	url = https://github.com/kiksss91/swift-academy-homeworks.git
[submodule "group2/alexander"]
	path = group2/alexander
	url = https://github.com/alxdnch/swift-academy-homeworks.git
[submodule "group1/vasil"]
	path = group1/vasil
	url = https://github.com/VasilDeqnov/swift-academy-homeworks.git
[submodule "group2/dragomir"]
	path = group2/dragomir
	url = https://github.com/Dragomir89/swift-academy-homeworks.git
[submodule "group2/stefan"]
	path = group2/stefan
	url = https://github.com/StevenPopov/swift-academy-homeworks.git
[submodule "group1/kalina"]
	path = group1/kalina
	url = git@github.com:Kalina-Georgieva/swift-academy-homeworks.git
