[submodule "group2/zdravko"]
	path = group2/zdravko
	url = git@github.com:DJ-ZdravoMIX/swift-academy-homeworks.git
[submodule "group1/latchezar"]
	path = group1/latchezar
	url = git@github.com:Latchezar/swift-academy-homeworks.git
[submodule "group2/maria"]
	path = group2/maria
	url = https://github.com/meivanova1990/swift-academy-homeworks.git
[submodule "group2/marina"]
	path = group2/marina
	url = https://github.com/msmarina/swift-academy-homeworks.git
