.lesson-viewer-content {
  display: table;
  margin-bottom: 40px;
}

#lesson-viewer .iframe-wrapper {
  margin: 10px;
  min-width: 350px;
  display: table-cell;
}

#lessons-browser nav {
  width: 100%;
  overflow-x: scroll;
}

#lessons-browser ul {
  display: table;
  border: 1px #b3c1c5 solid;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 10px;
  list-style-type: none;
}

#lessons-browser ul li {
  display: table-cell;
  margin: 0 5px;
  padding: 10px;
}

#lessons-browser ul li.selected {
  background-color: rgba(0,0,0,.5);
}

#homework-viewer {
  margin-bottom: 100px;
}

.lesson-preview {
  width: 200px;
}

.lesson-preview img {
  width: 200px;
  height: 160px;
}
