.tabs-body {
  border: 1px #ccc solid;
  border-top: none;
  padding: 10px;
  padding-bottom: 30px;
}

.tabs-body img {
  height: 150px;
}

.tabs-body p {
  line-height: 30px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px;
}