* {
  box-sizing: border-box;
}

html { height: 100%; }
body { position: absolute; top:0; bottom:0; right:0; left:0; }

body, a, h1, h2, h3, h4, h5, h6,
input, textarea, iframe, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
  background: white;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

header {
  padding: 20px 0;
  background-color: #ccc;
  min-height: 150px;
}

main {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  background: #fff;
}

footer {
  background-color: #ccc;
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px;
  position: absolute;
  bottom: 0;
  min-height: 50px;
}

header h1 {
  color: #333;
  padding-left: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }

  header h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 480px) {
  main {
    height: auto;
  }

  footer {
    position: static;
  }

  header h1 {
    font-size: 1.6em;
    padding: 0 10px 5px 10px;
  }
}

nav {
  width: 100%;
  text-align: right;
  background-color: #999;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 15px 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #333;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

aside {
  background-color: #999;
  color: #fff;
  padding: 30px;
  flex: 1;
  -webkit-flex: 1;
}

.sections-container {
  padding: 30px;
  height: 100%;
  overflow: scroll;
  flex: 4;
  -webkit-flex: 4;
}
