html {
    margin: 0.2%;
    background-color: #ffffff;
}
body {
    position: static;
    margin: 0 0;
    padding: 5%;
    background-color: #000000;
        color: #ffffff;
    text-align: center;
}
h2 {
    font-size: 2.7em;
}
p {
    font-size: 1em;
}
img {
    max-width: 7em;
}
li {
    list-style-type: none;
}