* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: table;
  height: 100%;
}

main {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.container {
  display: table;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#responsiveCircle {
  display: table-cell;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}

#responsiveText {
  text-transform: uppercase;
  font-family: fantasy;
  font-size: 2em;
  color: white;
  position: relative;
  top: .5em;
}