h1 {
    font-family: 'PT Serif', serif;
    color:darkmagenta;
    text-align: center;
}

p {
    color:darkblue;
    font-family: "Calibri";
}

ul {
    font-style: oblique;
    font-family: "Arial";
    font-size: 13px;
}

li {
    font-family: 'PT Serif', serif;
    color: darkmagenta;
}

a {
    color: darkmagenta;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}

body{
    margin: 0 auto;
    max-width: 900px;
}

div {
    background-color: aliceblue;
    border-radius: 25px;
    padding: 0px;
    width:750px;
    height:auto;
    box-shadow: 10px 10px 10px black;
    border-style: groove;
    border-width: 15px;
    border-color: paleturquoise;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#left {
    box-sizing: border-box;
    width: 45%;
    border-style: double;
    border-width: 10px;
    border-color: paleturquoise;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
    height: auto;
    margin: 15px 0 0 15px;
    float:left;
}

#right {
    box-sizing: border-box;
    width: 45%;
    border-style: double;
    border-width: 10px;
    border-color: paleturquoise;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
    height: auto;
    margin: 350px 15px 0 0;
    float: right;
}

#back {
    background-image: url("http://obewe.com/wp-content/uploads/2013/06/Web-Design-Concept.jpg");
    background-size: 892px 792px;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: 0px;
    width:850px;
    height: 592px;
    box-shadow: 10px 10px 10px black;
    border-style: groove;
    border-width: 15px;
    border-color: paleturquoise;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}