body {
	margin: 0;
	background: #F3F3F3;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	background: #27313D;
	color: #ffffff;
}

h1 {
	margin: 0;
	padding: 30px 0 10px 30px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

nav {
background: #27313D;
text-align: right;
padding: 0 30px 10px 0;
overflow: hidden;
}

nav a {
	color: #ffffff;
	background: #1ABC9C;
	border-radius: 5px;
	padding: 10px 20px;
	margin-left: 5px;
	display: inline-block;
}

.wrapper {
	background: #3498DB;
	overflow: hidden;
}

aside {
	float: left;
	margin-right: -4px;
	width: 25%;	
}

h4 {
	background: #FF6860;
	text-transform: uppercase;
	max-width: 200px;
	margin: 20px auto 10px auto;
	color: #F9F9F9;
	text-align: center;
	border-radius: 5px;
	padding: 5px 10px;
}

aside  ul {
	list-style: none;
	max-width: 170px;
	margin: 0 auto;
	padding: 0;
}

aside ul a {
	color: #f9f9f9;
	display: block;
	background: #46A0DD;
	border-radius: 3px;
	margin: 0 0 5px 0;
}

section {
	float: right;
	width: 75%;
}

.clear {
	clear: both;
}

#about {
	margin: 20px 0 15px 0;
}

#about img {
	width: 200px;
	border-radius: 30% 50%;
	display:inline-block;
}

#about ul {
	margin-left: 10px;
	display: inline-block;
	max-width: 400px;
	vertical-align: top;
	color: #ffffff;
}

article {
	background: #ffffff;
	overflow: hidden;
}

article:nth-child(odd) img {
	width: 50%;
	float: left;
	margin-right: 25px;
}

article:nth-child(even) img {
	width: 50%;
	float: right;
}

article h3, article p {
	margin-left: 25px;
}

#contact h2 {
	background: #7C6DC7;
	padding: 5px 0;
	text-align: center;
	max-width: 70%;
	border-radius: 5px;
	margin: 20px auto 30px auto;
}

form {
	width: 430px;
	margin: 0 auto;
	overflow: hidden;
}

input[type="text"] {
	width: 211px;
	display: inline-block;
	border: none;
	vertical-align: top;
}

input[type="text"]:nth-child(2) {
	float: right;
}

::-webkit-input-placeholder { 
	color: #111111;
}

:-moz-placeholder { 
	color: #111111;
	opacity: 1;
}

::-moz-placeholder {
	color: #111111;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #111111;
}

textarea {
	width: 430px;
	padding: 0;
	border: none;
	color: #111111;
	margin-top: 3px;
	height: 100px;
}

input[type="submit"] {
	float: right;
}

footer {
	padding: 10px 0;
	text-align: center;
	background: #27313D;
	color: #ffffff;
	margin-top: 100px;
}