* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #181860;
  color: #F0D8D8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: Helvetica;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: right;
  background-color: #A8A8C0;
}

nav a {
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

main {
  background-color: #C0A8C0;
}

aside {
  width: 20%;
  padding: 30px;
  display: inline-block;
  vertical-align: top;
}

.sections-container {
  background: white;
  width: 80%;
  display: inline-block;
  padding-left: 30px;
}

footer {
  width: 100%;
  background-color: #A8A8C0;
  text-align: center;
  display: block;
  padding: 15px;
  position: static;
}
