body {
    background-color: azure;
}
header {
    background-color:cornflowerblue;
    color:whitesmoke;
    min-height: 110px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: right;
    background-color:darkgray; 
}

aside {
    background-color:cadetblue;
    width: 200px;
    padding: 30px;
    height: 100%;
    position: absolute;
}

img  {
    height: 200px;
    width: 200px;
    margin-left: auto;
    float: left;
}

#about, #projects, #contact {
    padding-left: 360px;
    padding-top: 30px;
    padding-bottom: 30px; 
}


footer {
    width: 100%;
    background-color:darkgray;
    text-align: center;
    display: block;
    padding: 15px;
    position: static;
}