* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}

.table {
  background-color: aliceblue;
  display: table;
}

.about-image {
  vertical-align: top;
  width: 140px;
  border-radius: 100%;
}


div[class*=col]:first-child {
  font-weight: bold;
}

.col1, .col2, .col3, .col4, .table {
  text-align: center;
}
  
.col1, .col2, .col3, .col4 {
  display: block;
  float: left;
}

.col1,
.col2,
.col3
{
  width: 100%;
  padding: 10px;
}



@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }

  .col1 {
    width: 25%;
  }

  .col2 {
    width: 50%;
  }

  .col3 {
    width: 75%;
  }

  .col4 {
    width: 100%;
  }
}
  
@media screen and (min-width: 800px) {
  body {
    background-color: lightcoral;
  }
}
