header {
  background-color: #181860;
  color: #F0D8D8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: Helvetica;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: right;
  background-color: #A8A8C0;
}

nav a {
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

aside {
  background-color: #C0A8C0;
  width: 270px;
  padding: 30px;
  height: 100%;
  display: block;
  position: absolute;

}

#about, #projects, #contact {
  padding-left: 360px;
}

footer {
  width: 100%;
  background-color: #A8A8C0;
  text-align: center;
  display: block;
  padding: 15px;
  position: static;
}
