* {
  box-sizing: border-box;
}

#errorContainer {
  background-color: coral;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  height: 44px;
}

.avatar,
#heroes li img,
#enemies li img {
  height: 75px;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#heroes li,
#enemies li {
  height: 90px;
  overflow: scroll;
  margin: 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fafafa;
  display: table;
  width: 100%;
}

#heroes li > div,
#enemies li > div {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

#heroes li:hover,
#enemies li:hover {
  background-color: aliceblue;
}

#heroes li.selected,
#enemies li.selected {
  background-color: cornflowerblue;
  background-image: url(img/selected.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

#main {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main div {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#main div.middle {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

#fightButton {
  background-color: firebrick;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

#gameLog img {
  height: 35px;
  margin: 0 4px -10px 4px;
}

#gameLog li {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
