body {
    background-image: url(http://cdn.wonderfulengineering.com/wp-content/uploads/2014/07/background-wallpapers-32.jpg);background-position: center center; padding: 0px; margin: 0px;
}

h1 {color: #ff0000; font-family: cursive; font-size: 45px;
}
a {color: #ffffff; font-size: 23px; font-weight: bold;
}
p {color: #ffce00; font-family: sans-serif; font-size: 20px
}
img {padding-left: 500px}
}